VITE_GEMINI_API_KEY=AIzaSyDhOZcVSjFmQQqs5OSoUi7pkLgvTdF9pPg
VITE_SUPABASE_URL=https://qwtnukyrfhpdjnuopcdw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3dG51a3lyZmhwZGpudW9wY2R3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNDg5NTUsImV4cCI6MjA5MDcyNDk1NX0.0VtZH3lU0LLcqWl8QE9GQQF6_VIBMjRmBtm4ATVMZsI
